
.buttonholder {
  width: 100%;
}
.buttonsubmit {
  display: block;
  background-color: #E2BE1C;
  color: #191919;
  border-radius: 2px;
  border: 0px;
  padding: 1rem 2rem 1rem 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.contactContainer {
  display: grid;
  grid-template-columns: 12fr;
  grid-auto-rows: minmax(1rem, auto);
  grid-gap: 1rem 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-areas:
  "worktogether"
  "formitems";
  color: #B6B6B6;
}


.field_divided {
  width: 100%;
  background: transparent;
  border-color: #B6B6B6;
  color: #B6B6B6;
  border-width: .1rem;
  border-radius: 3px;
}

.field_full {
  width: 100%;
  background: transparent;
  border-color: #B6B6B6;
  color: #B6B6B6;
  border-width: .1rem;
  border-radius: 3px;
}

.first_name, .last_name, .phone_number, .email, .description, .service, .startDate {
  padding-bottom: 1rem;
  width: 49%
}

.form {
  display: flex;
  flex-wrap: wrap;
  grid-area: form;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.formitems {
  grid-area: formitems;
  justify-self: center;
  align-self: space-between;
  text-align: space;
  width: 60%;

}

label {
display: block;
}

.worktogether {
  grid-area: worktogether;
  justify-self: center;
  align-self: center;
  text-align: center;
  width: 60%;
  margin-top: 1.5rem;
  margin-bottom: -.7rem;
}

.worktogether p {
  margin-top: -1rem;
}





