
.buttonholder {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contactContainer {
  display: grid;
  grid-template-columns: 12fr;
  grid-auto-rows: minmax(1rem, auto);
  grid-gap: 1rem 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-areas:
  "worktogether"
  "formitems";
  color: #B6B6B6;
  padding-top: 77.141px;
  max-width: 1080px;
  margin: 0 auto;
}

.form input {
  padding-top: .5rem;
  padding-bottom: .5rem;
}



.field_divided {
  width: 100%;
  background: transparent;
  border-color: #B6B6B6;
  color:  #f9f3d2;
  border-width: .1rem;
  border-radius: 3px;
  text-align: left;
  padding-left: 10px;
}

.field_full {
  width: 100%;
  background: transparent;
  border-color: #B6B6B6;
  color:  #f9f3d2;
  border-width: .1rem;
  border-radius: 3px;
  text-align: left;
  padding-left: 10px;
}

.first_name, .last_name, .phone_number, .email {
  padding-bottom: 1rem;
  width: 49%;
  text-align: left;
}

.description {
  width: 100%;
  text-align: left;
}

.service, .startDate {
  width: 100%;
  text-align: left;
}

.pulldown {
  width: 49%;
  text-align: left;
}

.form {
  display: flex;
  flex-wrap: wrap;
  grid-area: form;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.formitems {
  grid-area: formitems;
  justify-self: center;
  align-self: space-between;
  text-align: center;
  width: 50%;

}

label {
display: block;
padding-bottom: .3rem;
}

.pulldown option {
  background: #191919;
}

.worktogether {
  grid-area: worktogether;
  justify-self: center;
  align-self: center;
  text-align: center;
  width: 50%;
  margin-top: .7rem;
  padding-top: 4rem;
  padding-bottom: 1.5rem;
  margin-bottom: 0rem;
}

.worktogether p {
  margin-top: -1rem;
}


@media only screen and (max-width: 1024px) {
  .contactContainer {
    width: 98%;
    margin: 0 auto;
  }

.pulldown {
  width: 49%;
}

select, input {
  -webkit-appearance: none;
  appearance: none;
}

  .formitems {
    width: 70%;
  }

  .worktogether {
    width: 70%;
  }
}


@media only screen and (max-width: 768px) {
  .contactContainer {
    width: 98%;
    margin: 0 auto;
  }
  .first_name, .last_name, .phone_number, .email, .description {
    padding-bottom: 1rem;
    width: 100%;
    text-align: left;
  }

  .formitems {
    width: 80%;
  }

  .worktogether {
    width: 80%;
  }

  .worktogether h2 {
    font-size: 24px;
  }

  .pulldown select {
    appearance: menulist;
    -webkit-appearance: menulist;
  }

  .service, .startDate {
    width: 100%;
    text-align: left;
  }


}

@media only screen and (max-width: 414px) {
  .buttonholder {
    margin-bottom: 0rem;
    padding-bottom: 0rem;
  }
  .contactContainer {
    width: 98%;
    margin: 0 auto;
  }
  .buttonholder{
    margin-top: 1rem;
    margin-bottom: .5rem;
  }

  .formitems {
    width: 90%;
    margin-bottom: -1.5rem;
  }
  .pulldown {
    width: 100%;
  }

  .select {
    appearance: none;
    -webkit-appearance: none;
  }
  .startDate {
    padding-top: 1rem;

  }

  .worktogether {
    margin-top: 0rem;
    padding-top: .5rem;
    margin-bottom: -1rem;
    padding-bottom: 0rem;
  }

}




