.connect {
  grid-area: connect;
  align-self: flex-end;
  justify-self: center;
  color: #B6B6B6;
  margin-top: 1.7rem;
  margin-bottom: 0rem;
}

.date{
  grid-area: date;
  align-self:  flex-start;
  justify-self: center;
  color: #B6B6B6;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footerContainer {
  display: grid;
  grid-template-columns: 12fr;
  grid-auto-rows: minmax(.1rem, auto);
  grid-gap: .01rem 1.5rem;
  grid-template-areas:
  "yellowLine"
  "connect"
  "methods"
  "date";
  margin-top: -1rem;
}

.message {
  grid-area: message;
}

.methods {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-bottom: -1rem;
}

.linkedin, .twitter, .github, .message{
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}








