.connect {
  grid-area: connect;
  align-self: flex-end;
  justify-self: center;
  color: #B6B6B6;
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 3.5rem;
}

.date{
  grid-area: date;
  align-self:  flex-start;
  justify-self: center;
  color: #B6B6B6;
  margin-top: 1rem;
  padding-bottom: 3rem;
}

.footerBackground {
  background-color: #191919;
}

.footerContainer {
  display: grid;
  grid-template-columns: 12fr;
  grid-auto-rows: minmax(.1rem, auto);
  grid-gap: .01rem 1.5rem;
  grid-template-areas:
  "yellowLine"
  "connect"
  "methods"
  "date";
  max-width: 1080px;
  margin: 0 auto;
}

.message {
  grid-area: message;
}

.methods {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  margin-bottom: -1rem;
}

.linkedin, .twitter, .github, .message{
  flex-shrink: 0;
  justify-self: center;
  align-self: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.social {
  flex-shrink: .5;
  width: 80%;
  margin-bottom: 1rem;
}

.social:hover {
  fill: #E2BE1C;
}

@media only screen and (max-width: 768px) {
  .footerContainer {
    width: 98%;
    margin: 0 auto;
  }
  .social {
    width: 70%;
    margin: 0 auto 1rem auto;

  }
  .linkedin, .twitter, .github, .message{
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 414px) {
  .footerContainer {
    width: 98%;
    margin: 0 auto;
  }
  .connect h2 {
    font-size: 20px;
    margin-top: -1rem;
    margin-bottom: 0rem;
    padding-top: 0rem;
    margin-top: -2rem;
  }

  .date {
    margin-top: 0px;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
  }

  .date p {
    font-size: 12px;
    padding-top: .5rem;
  }

  .designerhero > p {
    display: none;
  }
  .developer > p {
    display: none;
  }

  .designerhero > h3 {
    font-size: 18px;
  }

  .developer > h3 {
    font-size: 18px;
  }

  .featuredprojects h2 {
    font-size: 20px;
  }

  .indexBodyContainer {
    grid-gap: .2rem .2rem;
  }

  .productmanager > p {
    display: none;
  }

  .productmanager > h3 {
    font-size: 18px;
    padding-bottom: 5px;
  }

  .project1 h3 {
    font-size: 20px;
  }

  .social {
    width: 50%;
    margin: 0 auto 1rem auto;
  }


  .linkedin, .twitter, .github, .message{
    padding-left: .5rem;
    padding-right: .5rem;
  }

}








