* {
  box-sizing: border-box;
}

html {
  background-color: #191919;

  font-size: 10px;
}

html body {
  width: 100%;
  margin: 0 auto;
}

/*
THIS IS THE CSS FOR THE HAMBURGER MENU
 "react-burger-menu": "^2.6.5"
 https://github.com/negomi/react-burger-menu
*/

#App {
  font-family: sans-serif;
  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #E2BE1C;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: #B6B6B6;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 25px;
  right: 25px;
  top: 25px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #E2BE1C;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 29px !important;
  top: -23px !important;

}

/* This positions the cross centrally in the button */
.bm-cross-button > span {
  top: 2px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #E2BE1C;;
  position: absolute;
  /* This targets the actual elements that make up the cross */
  width: 5px !important;
  height: 25px !important;
}

/* General sidebar styles */
.bm-menu {
  background: #191919;
  padding: 4em 1.5em 0;
  font-size: 1.15em;
  margin-top: -2.5rem;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #B6B6B6;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 2000px) {
  .hamburger {
    display: none;
  }
}


@media only screen and (max-width: 580px) {
  .hamburger {
    display: block;
  }
}
