.headerContainer {
  display: grid;
  grid-template-columns: 1fr 4.5fr 6.5fr;
  grid-auto-rows: minmax(.1rem, auto);
  grid-gap: 0rem 0rem;
  grid-template-areas:
  "logo        name        pages"
  "yellowLine  yellowLine  yellowLine";
  padding-top: .5rem;
}
.aboutnav {
  align-self: center;
  justify-self: center;
  padding-right: 2rem;
}

.contact {
  align-self: center;
  justify-self: center;
}

.logo {
  grid-area: logo;
  align-self: center;
  justify-self: center;
  color: #e2be1c;
  text-decoration: none;
  margin-bottom: -1.2rem;
  margin-left: 2.5%;
}

.name {
  grid-area: name;
  align-self: center;
  justify-self: flex-start;
  padding-top: .8rem;
}

.link {
  color: #e2be1c;
  text-decoration: none;
}

.pages {
  display: flex;
  grid-area: pages;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  padding-top: .8rem;
  margin-right: 3%;
}

.portfolio {
  align-self: center;
  justify-self: center;
  padding-right: 2rem;
}

.yellowLine {
  grid-area: yellowLine;
  background-color: #E2BE1C;
  height: .1rem;
  width: 97%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
  html {
    width: 100%;
    margin: 0 auto;

  }

  .headerContainer {
    display: grid;
    grid-template-columns: 3fr .5fr 8.5fr;
    grid-auto-rows: minmax(.1rem, auto);
    grid-gap: 0rem 0rem;
    grid-template-areas:
    "logo        name        pages"
    "yellowLine  yellowLine  yellowLine";
    padding-top: .5rem;
    margin: 0 auto;
  }

  .name {
    display: none;
  }

  .logo {
    align-self: center;
    justify-self: flex-start;
    padding-left: .5rem;
    width: 61px;
  }

  .link {
    font-size: 16px;

  }

}




