.headerContainer {
  display: grid;
  grid-template-columns: 1.5fr 4fr 6.5fr;
  grid-auto-rows: minmax(.1rem, auto);
  grid-gap: 0rem 0rem;
  grid-template-areas:
  "logo        name        pages"
  "yellowLine  yellowLine  yellowLine";
  padding-top: .5rem;
}
.aboutnav {
  align-self: center;
  justify-self: center;
  padding-right: 2rem;
}

.contact {
  align-self: center;
  justify-self: center;
}

.logo {
  grid-area: logo;
  align-self: center;
  justify-self: center;
  color: #e2be1c;
  text-decoration: none;
  margin-bottom: -1.2rem;
}

.name {
  grid-area: name;
  align-self: center;
  justify-self: flex-start;
  padding-top: .8rem;
}

.link {
  color: #e2be1c;
  text-decoration: none;
}

.pages {
  display: flex;
  grid-area: pages;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
  padding-top: .8rem;
}

.portfolio {
  align-self: center;
  justify-self: center;
  padding-right: 2rem;
}

.yellowLine {
  grid-area: yellowLine;
  background-color: #E2BE1C;
  height: .2rem;
}






