.headerContainer {
  display: grid;
  grid-template-columns: 1fr 4fr 6.8fr .2fr;
  grid-auto-rows: minmax(.1rem, auto);
  grid-gap: 0rem 1rem;
  grid-template-areas:
  "logo        name        pages      ."
  "yellowLine  yellowLine  yellowLine yellowLine";
  margin-top: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.aboutnav {
  padding-right: 2rem;
}

.logo a {
  height: 0px;
}

.logo {
  grid-area: logo;
  color: #e2be1c;
  text-decoration: none;
  align-self: center;
  justify-self: flex-end;
  margin-bottom: -.7rem;
  /* margin-left: 2.5%; */
}

.name {
  grid-area: name;
  margin-bottom: -.4rem;
}

.link {
  color: #e2be1c;
  text-decoration: none;
}

.pages {
  display: flex;
  grid-area: pages;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: -.4rem;


  /* padding-top: .8rem; */
  /* margin-right: 3%; */
}

.portfolio {
  padding-right: 2rem;
}

.yellowLine {
  grid-area: yellowLine;
  background-color: #E2BE1C;
  height: .1rem;
  width: 100%;
  margin: 0 auto;

}

@media only screen and (max-width: 768px) {

  .headerContainer {
    grid-gap: 0rem .3rem;
  }

  .logo {
    align-self: center;
    justify-self: flex-start;
    /* padding-left: .5rem; */
  }

  .logo img {
    width: 50px;
  }

  .link {
    font-size: 16px;
  }

  .portfolio {
    padding-right: 1rem;
  }

  .aboutnav {
    padding-right: 1rem;
  }

}

@media only screen and (max-width: 414px) {
  .headerContainer {
  grid-template-columns: .1fr 5.9fr 5.9fr .1fr;
  grid-auto-rows: minmax(.1rem, auto);
  grid-gap: 0rem 1rem;
  grid-template-areas:
  ". logo        pages      ."
  "yellowLine  yellowLine  yellowLine yellowLine";
  }
  .name {
    display: none;
  }

  .logo img {
    width: 40px;
  }

  .portfolio {
    padding-right: .3rem;
  }

  .aboutnav {
    padding-right: .3rem;
  }

}






