a {
  color: #B6B6B6;
  text-decoration: none;
}

.designerhero {
  grid-area: designer;
  justify-self: center;
  align-self: center;
  padding-top: 1rem;
  /* margin-left: 5%; */
}

.designerhero > p {
  margin-top: -1.5rem;
}

.developer {
  grid-area: developer;
  justify-self: center;
  align-self: center;
  padding-top: 1rem;
  /* margin-right: 5%; */
}

.developer > p {
  margin-top: -1.5rem;
}

.featuredprojects {
  grid-area: featuredprojects;
  justify-self: center;
  align-self: center;
  padding-top: 0rem;
  margin-top: .5rem;
}

h3 {
  text-align: center;
}

.heroimage {
  grid-area: heroimage;
  margin-bottom: 1rem;
  width: 50%;
  justify-self: center;
  align-self: center;
  margin-top: -1.5rem;
}

img {
  align-self: center;
  align-items: center;

}

.indexBodyContainer {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-auto-rows: minmax(.1rem, auto);
  grid-gap: 1rem 1rem;
  grid-template-areas:
  "welcome           welcome           welcome"
  "   .              productmanager        ."
  "designer          heroimage         developer"
  "designer          heroimage         developer"
  "   .              heroimage             ."
  "yellowLine        yellowLine        yellowLine"
  "featuredprojects  featuredprojects  featuredprojects"
  "project1                 project1          project1";
  align-items: center;
  justify-content: center;
  align-content: center;
  /* margin-top: -1.5rem; */
}

p {
  text-align: center;
}

.productmanager {
  grid-area: productmanager;
  justify-self: center;
  align-self: center;
  padding-top: 1rem;
  margin-top: -1rem;
}

.productmanager > p {
  margin-top: -1.5rem;
}

.project1 {
  grid-area: project1;
  justify-self: center;
  text-align: center;
  margin-top: -1.2rem;
}

.project1 h3 {
  margin-top: -2rem;
}

.project1 p {
  margin-top: -1rem;
  margin-bottom: 2.7rem;
}

.project2 {
  grid-area: project2;
  justify-self: center;
  text-align: center;
}

.project3 {
  grid-area: project3;
  justify-self: center;
  text-align: center;
}

.yellowLine {
  grid-area: yellowLine;
}

.welcome {
  grid-area: welcome;
  align-self: center;
  justify-self: center;
  padding-top: 3rem;
  margin-bottom: 0rem;
}

@media only screen and (max-width: 768px) {

  .productmanager p {
    font-size: 13px;
  }

  .designerhero p {
    font-size: 13px;
  }

  .developer p {
    font-size: 13px;
  }

  .heroimage {
    width: 80%;
  }

  .welcome {
    margin-top: -1.5rem;
  }

}

@media only screen and (max-width: 414px) {
  .designerhero > p {
    display: none;
  }
  .developer > p {
    display: none;
  }

  .designerhero > h3 {
    font-size: 18px;
  }

  .developer > h3 {
    font-size: 18px;
  }

  .featuredprojects h2 {
    font-size: 20px;
  }

  .indexBodyContainer {
    grid-gap: .2rem .2rem;
  }

  .productmanager > p {
    display: none;
  }

  .productmanager > h3 {
    font-size: 18px;
    padding-bottom: 5px;
  }

  .project1 h3 {
    font-size: 20px;
  }

  .project1 p {
    font-size: 16px;
    margin-top: -25px;
  }

  .project1 img {
    margin-top: -1rem;
  }

  .project1 {
    margin-bottom: -10px;
  }

  .welcome {
    font-size: 20px;
    text-align: center;
    padding-top: 2rem;
  }
}



