a {
  color: #B6B6B6;
  text-decoration: none;
}

.busyBus {
  grid-area: busyBus;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: -1rem;
}

.personalPortfolio {
  grid-area: personalPortfolio;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: -1rem;
}

.portfolioContainer {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-auto-rows: minmax(.1rem, auto);
  grid-gap: 1rem 1rem;
  grid-template-areas:
  ". . ."
  "propertyVault propertyVault propertyVault"
  ". . .";
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-top: 77.141px;
  max-width: 1080px;
  margin: 0 auto;
}

.propertyVault {
  grid-area: propertyVault;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding-top: 4rem;
  margin-top: -.5rem;
  padding-bottom: 4rem;
  margin-bottom: -1rem;
}

.propertyVault h3 {
  margin-top: -2rem;
}

.propertyVault p {
  margin-top: -1rem;
  margin-bottom: .2rem;
  color: rgb(182,182,182,.8);
}


@media only screen and (max-width: 414px) {
  .propertyVault {
    padding-top: 1rem;
    margin-top: -.5rem;
    padding-bottom: 1rem;
    margin-bottom: -1rem;
  }
}




