

.busyBus {
  grid-area: busyBus;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: -1rem;
}

.personalPortfolio {
  grid-area: personalPortfolio;
  align-self: center;
  justify-self: center;
  text-align: center;
  padding-top: 2rem;
  margin-bottom: -1rem;
}

.portfolioContainer {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-auto-rows: minmax(.1rem, auto);
  grid-gap: 1rem 1rem;
  grid-template-areas:
  "busyBus propertyVault personalPortfolio";
  align-items: center;
  justify-content: center;
  align-content: center;
}

.propertyVault {
  grid-area: propertyVault;
  align-self: center;
  justify-self: center;
  text-align: center;
  margin-top: 1.1rem;
  margin-bottom: -.3rem;
}

.propertyVault h3 {
  margin-top: -2rem;
}

.propertyVault p {
  margin-top: -1rem;
  margin-bottom: 1.5rem;
}