
  .abtests img {
    width: 96%;
  }

.branding {
  grid-area: branding;
  background-color: #f2f2f2;
}

.brandingContent {
  color: #191919;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  padding-bottom: 2rem;
  margin-bottom: 0rem;
  max-width: 1080px;
  margin: 0 auto;
}

.brandingContent h2 {
  padding-bottom: 2rem;
}

.brandingContent h3 {
  padding-top: 0rem;
}

.brandingContent p {
  width: 50%;
  text-align: left;
}

.brandingicon {
  margin-top: 4rem;
}

.brandimages {
  padding-bottom: 2rem;
}

.buttonHoldersiteMap {
  display: none;
}

.conclusion {
  color: #191919;
  background-color: #f2f2f2;
  grid-area: conclusion;
  margin-bottom: -.1rem;
  z-index: 1;
}

.conclusionContent {
  color: #191919;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding-top: 1rem;
  margin-bottom: .8rem;
  padding-bottom: 1rem;
  max-width: 1080px;
  margin: 0 auto;
  z-index: 2;
}

.conclusionContent h2 {
  margin-top: .2rem;
  margin-bottom: 3rem;
}

.conclusionContent p {
  width: 50%;
  text-align: left;
}

.conclusionContent img {
  padding-top: 2rem;
  margin-bottom: -.5rem;
}

.conclusionimages {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  width: 90%;
  padding-bottom: 3rem;
}

.deliverables {
  grid-area: deliverables;
  padding-top: 0;
  align-self: center;
  justify-self: center;
  display: flex;
  padding-right: 20%;
}

.deliverables h3 {
  margin-left: .5rem;
}

.deliverableslist {
  grid-area: deliverableslist;
  justify-self: center;
  margin-top: -3rem;
  color: rgb(182,182,182,.8);
}

.deliverableslist ul {
  text-align: left;
}

.design {
  grid-area: design;
  padding-top: 0;
  align-self: center;
  justify-self: center;
  display: flex;
  margin-left: 3rem;
  padding-right: 17%;
}

.design h3 {
  margin-left: .5rem;
}

.designroles {
  grid-area: designroles;
  justify-self: center;
  margin-top: -3rem;
  margin-left: 3rem;
  color: rgb(182,182,182,.8);
}

.designroles ul {
  text-align: left;
}

.desktopHomeImage {
  grid-area: desktopHomeImage;
  align-self: center;
  justify-self: center;
  width: 70%;
  margin-top: 0rem;

}

.discovery {
  background-color: #191919;
  grid-area: discovery;
}

.discoveryContent {
  display: grid;
  grid-template-columns: 3fr 6fr 3fr;
  grid-auto-rows: minmax(.1rem, auto);
  grid-gap: 1rem 1rem;
  grid-template-areas:
  ".  discoverytitle  ."
  ".  discoveryur     ."
  ".  discoveryca     ."
  ".  discoveryuptitle     ."
  "discoveryupimages discoveryupimages discoveryupimages"
  "personas personas personas";
  color: #B6B6B6;
  background-color: #191919;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  max-width: 1080px;
  margin: 0 auto;
}

.discoveryContent img {
  display: block;
}

.discoveryContent h2 {
  width: 100%;
}

.discoveryContent p {
  text-align: center;
  width: 100%;
}

.discoveryca {
  grid-area: discoveryca;
  align-self: center;
  justify-self: center;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.discoveryca p {
  text-align: center;
}

.discoverytitle {
  grid-area: discoverytitle;
  align-self: center;
  justify-self: center;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.discoverytitle h2 {
  margin-top: -1rem;
}

.discoveryupimages {
  grid-area: discoveryupimages;
  align-self: center;
  justify-self: center;
  text-align: left;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding-bottom: 2rem;
}

.discoveryupimages img {
  display: block;
  width: 100%;
}

.discoveryuptitle {
  grid-area: discoveryuptitle;
  align-self: center;
  justify-self: center;
  text-align: left;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.discoveryuptitle h3 {
  padding-top: 2rem;

}

.discoveryuptitle p {
  margin-top: -1rem;
  text-align: left;
}

.discoveryur {
  grid-area: discoveryur;
  align-self: center;
  justify-self: center;
  text-align: left;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -1rem;
}

.discoveryur p {
  text-align: left;
}

.discoveryur ul {
  color: rgb(182,182,182,.8);
}

.duration {
  display: flex;
  flex-wrap: wrap;
  padding-top: .5rem;
}

.duration h3 {
  margin-left: .5rem;
  align-self: center;
  justify-self: center;
}

.duration ul {
  margin-top: -1rem;
  width: 100%;
  text-align: left;
  color: rgb(182,182,182,.8);
}

.durationtools {
  grid-area: durationtools;
  align-self: center;
  justify-self: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.homePageMockup {
  width: 30%;
  height: 25rem;
}

.homePageSketch {
  width: 30%;
  height: 25rem;
}

.homePageWireframe {
  width: 30%;
  height: 25rem;
}

.ia {
  color: #B6B6B6;
  background-color: #191919;
  grid-area: ia;
}

.iaContent {
  color: #B6B6B6;
  background-color: #191919;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-bottom: 0rem;
  max-width: 1080px;
  margin: 0 auto;
}

.iaContent p {
  width: 50%;
  text-align: left;
}
.iaContent h2 {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.iaContent ul {
  margin-bottom: 0rem;
}

.iaContent h3 {
  margin-top: 1rem;
}

.iaContent img {
  padding-top: 1.5rem;
  margin-top: 0rem;
}

.iatitle {
  justify-self: center;
  align-self: center;
  margin-top: -1.5rem;
  margin-bottom: 2rem;
}

.icon {
  height: 24px;
  width: 24px;
}

.intro {
  background-color: #191919;
  grid-area: intro;
}

.introContent {
  max-width: 1080px;
  margin: 0 auto;
}

.introContent h1 {
  text-align: center;
  margin-top: .5rem;
  padding-top: 4rem;
}

.introContent p {
  text-align: left;
  width: 60%;
  margin: -1rem auto 1rem auto;
}

.introContent a {
    display: block;
    text-align: center;
    align-self: center;
    justify-self: center;
    margin: 0 auto 2rem auto;
}

.lowFiPrototype, .highFiPrototype {
  display: none;
}

.overview {
  grid-area: overview;
  background-color: #f2f2f2;
}

.overviewContent {
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-auto-rows: minmax(.1rem, auto);
  grid-gap: 1rem 1rem;
  grid-template-areas:
  "overviewtitle    overviewtitle"
  "overviewproblem  overviewsolution";
  color: #191919;
  background-color: #f2f2f2;
  margin-top: -1rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: flex-start;
  max-width: 1080px;
  margin: 0 auto;
}

.overviewtitle {
  grid-area: overviewtitle;
  align-self: center;
  justify-self: center;
  margin-top: -2rem;
  padding-top: 4rem;
  margin-bottom: -3rem;
  padding-bottom: 4rem;
}

.overviewtitle img {
  display: block;
  margin: 2rem auto 0 auto;
}

.overviewproblem {
  grid-area: overviewproblem;
  width: 95%;
  padding-left: 1rem;
  margin-bottom: -1rem;
  padding-bottom: 4rem;
}

.overviewproblem p {
  text-align: left;

}

.overviewsolution {
  grid-area: overviewsolution;
  width: 95%;
  padding-left: 1rem;
  margin-bottom: -1rem;
  padding-bottom: 4rem;
}

.overviewsolution p {
  text-align: left;
}

.mobileHomeImage {
  grid-area: mobileHomeImage;
  align-self: center;
  justify-self: flex-start;
  width: 70%
}


.personas {
  grid-area: personas;
  justify-self: center;
  align-self: center;
  color: #B6B6B6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}

.personaA, .personaB {
  border: 1px solid #e2be1c;
  width: 400px;
  flex-shrink: 1;
  flex-grow: 1;
  margin-left: 1rem;
  margin-right: 1rem;
}


.personaA h3 {
  line-height: 1;
  padding-top: 1rem;
  padding-bottom: .5rem;
  margin: 0 auto;
  width: 90%;
  text-align: left;
  padding-left: .35rem;
}


.personaA p {
  line-height: 1.33;
  margin: 0 auto;
  padding-bottom: .5rem;
  text-align: left;
  width: 90%;
  padding-left: .35rem;
}

.personaA ul {
  text-align: left;
  padding-top: 2rem;
  padding-left: 1.1rem;
  margin-bottom: .5rem;
}


.personaA ol {
  text-align: left;
  padding-left: 1.1rem;
}

.personaB h3 {
  line-height: 1;
  padding-top: 1rem;
  padding-bottom: .5rem;
  margin: 0 auto;
  width: 90%;
  text-align: left;
  padding-left: .35rem;
}


.personaB p {
  line-height: 1.33;
  margin: 0 auto;
  padding-bottom: .5rem;
  text-align: left;
  width: 90%;
  padding-left: .35rem;
}

.personaB ul {
  text-align: left;
  padding-top: 2rem;
  padding-left: 1.1rem;
  margin-bottom: .5rem;
}


.personaB ol {
  text-align: left;
  padding-left: 1.1rem;
}

.personaBfrustrations {
  padding-top: 1.2rem;
}
.personaAquote {

  width: 90%;
  margin: 0 auto;
}

.personaBquote {
  padding-top: 3.9rem;
  width: 90%;
  margin: 0 auto;
}

.personaAvatar img {
  width: 40%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 0rem;
}

.personaTomMike {
  width: 100% !important;
  margin: 0 auto !important;
  text-align: center !important;
}


.propertyVaultContainer {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-auto-rows: minmax(.1rem, auto);
  grid-gap: 1rem 1rem;
  grid-template-areas:
  "intro             intro              intro"
  "overview          overview           overview"
  "discovery         discovery          discovery"
  "branding          branding           branding"
  "ia                ia                 ia"
  "conclusion        conclusion         conclusion";
  align-items: center;
  justify-content: center;
  align-content: center;
  padding-top: 77.141px;
}

.prototypesContainer {
  display:grid;
  grid-template-columns: 2fr 4fr 4fr 2fr;
  grid-auto-rows: minmax(.1rem, auto);
  grid-gap: 1rem 1rem;
  grid-template-areas:
  ". desktopHomeImage desktopHomeImage .";
  justify-content: center;
  align-items: center;
  margin-bottom: -1rem;
  padding-bottom: 4rem;
}

.rolesContainer {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-auto-rows: minmax(.1rem, auto);
  grid-gap: 1rem 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-areas:
  "design      deliverables     durationtools"
  "designroles deliverableslist durationtools";
  padding-bottom: 4rem;
  margin-bottom: -2rem;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  margin-top: .5rem;
}

.tools h3 {
  margin-left: .5rem;
}

.tools ul {
  margin-top: -1rem;
  width: 100%;
  text-align: left;
  color: rgb(182,182,182,.8);
}

.userFlowDetails h4 {
  text-align: center;
}


@media only screen and (max-width: 1024px) {
  .abtests img {
    width: 96%;
  }

  .flowChart{
    width: 96%;
    margin: 0 auto;
  }

  .iaContent h2 {
    width: 50%;
    margin-left: auto;
    margin-right: auto;

  }


  .siteMap{
    width: 96%;
    margin: 0 auto;
  }


}

@media only screen and (max-width: 768px) {
  .abtests img {
    width: 96%;
  }

  .brandimages img{
    width: 98%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  .buttonHoldersiteMap {
    display: none;
  }

  .conclusionContent p {
    width: 96%;
  }

  .conclusionimages img {
    height: 200px;
  }

 .design h3 {
   font-size: 16px;
 }

 .designroles {
    padding-top: 1rem;

 }
 .designroles ul {
  font-size: 14px;
  }

 .deliverables h3 {
  font-size: 16px;
  }
  .deliverableslist {
    margin-bottom: 1rem;
  }
  .deliverableslist ul {
    font-size: 14px;
  }

  .discoveryContent {
    grid-template-columns: .5fr 11fr .5fr;
    grid-template-areas:
    ".  discoverytitle  ."
    ".  discoveryur     ."
    ".  discoveryca     ."
    ".  discoveryuptitle     ."
    "discoveryupimages discoveryupimages discoveryupimages";
  }

  .discoveryupimages {
    width: 70%;
    margin: 0 auto;
  }

  .duration {
    margin-top: -1rem;
  }
  .duration h3 {
    font-size: 16px;
  }

  .duration ul {
    font-size: 14px;

  }
  .iaContent h2 {
    width: 70%;
   margin-left: auto;
   margin-right: auto;
  }
  .iaimages{
    width: 96%;
    margin: 0 auto;
  }

  .personaB {
    margin-top: 2rem;
  }

  .personaAquote {
    margin-top: 0;
    padding-top: 2rem;
  }

  .personaBquote {
    margin-top: 0;
    padding-top: 2rem;
  }

  .tools h3 {
    font-size: 16px;
  }
  .tools ul {
    font-size: 14px;
  }
}

@media only screen and (max-width: 414px) {
  .abtests {
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
  }


  .brandingContent p {
    width: 90%;
    text-align: left;
  }

  .conclusionimages {
    flex-direction: column;
  }

  .brandimages {
    padding-bottom: 0rem;
  }

  .branding h2 {
    padding-bottom: 0rem;
  }

  .brandingicon {
    margin-top: 0rem;
    padding-top: 2rem;
  }

  .buttonHoldersiteMap{
    display: block;
  }

  .conclusionContent {
    padding-bottom: 1rem;
  }

  .conclusionimages {
    padding-bottom: 0rem;
  }


  .design {
    margin: -1.5rem auto 0 auto;
  }

  .designroles {
    margin-left: 0;
  }
  .deliverables {
    margin-bottom: 1rem;
    margin-top: -1rem;
  }

  .deliverableslist {
    margin-left: 0;
  }

  .desktopHomeImage, .mobileHomeImage {
    display: none;
  }

  .discoveryContent {
    grid-template-columns: .1fr 11.8fr .1fr;
    grid-template-areas:
    ". discoverytitle ."
    ". discoveryur ."
    ". discoveryca ."
    ". discoveryuptitle. "
    ". discoveryupimages .";
  }

  .discoveryca {
    padding-top: 0rem;
  }

  .discoverytitle {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .discoveryupimages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .discoveryupimages img {
    width: 100%;
  }

  .discoveryuptitle {
    margin-top: -2rem;
  }

  .duration {
    width: 65%;
    justify-self: center;
    align-self: center;
  }

  .durationtools {
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: -1rem;
  }

  .homePageMockup, .homePageSketch, .homePageWireframe {
    display: none;
  }

  .iaContent h2 {
    width: 65%;
    justify-self: center;
    align-self: center;
  }

  .iaContent img {
    padding-top: 0rem;
  }

  .iaContent p {
    text-align: left;
    width: 90%;
  }

  .iaContent h2 {
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }

  .iaContent img {
    margin-bottom: 0rem;
  }


  .iaContent ul {
    width: 90%;
  }

  .iaimages {
    padding-bottom: 1rem;
  }

  .iatitle {
    margin-bottom: 1rem;
  }

  .intro h1 {
    margin-top: 0rem;
  }

  .introContent p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }

  .introContent h1 {
    font-size: 36px;
      text-align: center;
      margin-top: -.7rem;
      padding-top: 1rem;
  }

  .lowProtoImage, .highProtoImage {
    display: none;
  }

  .lowFiPrototype, .highFiPrototype {
    display: block;
  }

  .overviewContent {
    grid-template-columns: 12fr;
    grid-auto-rows: minmax(.1rem, auto);
    grid-gap: 1rem 1rem;
    grid-template-areas:
    "overviewtitle"
    "overviewproblem"
    "overviewsolution";
  }

  .overviewtitle {
    margin-top: -4rem;
    margin-bottom: -5rem;
  }

  .overviewproblem {
    margin-bottom: -5rem;
  }

  .overviewsolution {
    margin-bottom: -3.5rem;
  }

  .personas {
    flex-direction: column;
  }

  .personas ol {
    margin-left: 0px;
  }

  .personaA ol {
    text-align: left;
    padding-left: 1.5rem;
  }

  .personaB ol {
    text-align: left;
    padding-left: 1.5rem;
  }

  .personaAvatar {
    width: 40%;
    margin: 0 auto;
  }

  .personaA, .personaB {
    width: 300px;
  }

  .personaB {
    margin-top: 2rem;
  }

  .personaBfrustrations {
    padding-top: 0rem;
  }

  .personaBquote {
    padding-top: 1rem;

  }

  .propertyVaultContainer{
    margin-bottom: -1rem;
  }

  .rolesContainer {
    grid-template-columns: .5fr 11fr .5fr;
    grid-template-areas:
    ". design ."
    ". designroles ."
    ". deliverables ."
    ". deliverableslist ."
    ". durationtools .";
    margin-top: -3rem;
    padding-top: 0rem;
    margin-bottom: 0rem;
    padding-bottom: 0rem;
  }

  .siteMap {
    display: none;
  }

  .tools {
      width: 65%;
      justify-self: center;
      align-self: center;
      margin-top: -1rem;
  }

  .userFlowDetails {
    display: none;
  }

}







