
  .abtests img {
    width: 96%;
  }

.branding {
  color: #191919;
  background-color: #f2f2f2;
  grid-area: branding;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  padding-bottom: 1rem;
}

.branding p {
  width: 60%;
}

.brandingicon {
  margin-top: 2rem;
}

.conclusion {
  color: #191919;
  background-color: #f2f2f2;
  grid-area: conclusion;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding-top: 1rem;
  margin-bottom: .8rem;
  padding-bottom: 1rem;
  z-index: 2;
}

.conclusion h2 {
  margin-top: .2rem;
}

.conclusion p {
  width: 60%;
  text-align: left;
}

.conclusionimages {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  width: 90%;
}

.deliverables {
  grid-area: deliverables;
  padding-top: 0;
  align-self: center;
  justify-self: center;
  display: flex;
  padding-right: 20%;
}

.deliverables h3 {
  margin-left: .5rem;
}

.deliverableslist {
  grid-area: deliverableslist;
  justify-self: center;
  margin-top: -3rem;
}

.design {
  grid-area: design;
  padding-top: 0;
  align-self: center;
  justify-self: center;
  display: flex;
  margin-left: 3rem;
  padding-right: 17%;
}

.design h3 {
  margin-left: .5rem;
}

.designroles {
  grid-area: designroles;
  justify-self: center;
  margin-top: -3rem;
  margin-left: 3rem;
}

.desktopHomeImage {
  grid-area: desktopHomeImage;
  align-self: center;
  justify-self: flex-end;
  width: 70%;
}

.discovery {
  display: grid;
  grid-area: discovery;
  grid-template-columns: 3fr 6fr 3fr;
  grid-auto-rows: minmax(.1rem, auto);
  grid-gap: 1rem 1rem;
  grid-template-areas:
  ".  discoverytitle  ."
  ".  discoveryur     ."
  ".  discoveryca     ."
  ".  discoveryuptitle     ."
  "discoveryupimages discoveryupimages discoveryupimages";
  color: #B6B6B6;
  background-color: #191919;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.discovery img {
  display: block;
}

.discovery h2 {
  width: 100%;
}

.discovery p {
  text-align: left;
  width: 100%;

}

.discoverytitle {
  grid-area: discoverytitle;
  align-self: center;
  justify-self: center;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.discoverytitle h2 {
  margin-top: -1rem;
}

.discoveryur {
  grid-area: discoveryur;
  align-self: center;
  justify-self: center;
  text-align: left;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -1rem;
}

.discoveryca {
  grid-area: discoveryca;
  align-self: center;
  justify-self: center;
  text-align: center;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.discoveryca p {
  text-align: center;
}

.discoveryupimages {
  grid-area: discoveryupimages;
  align-self: center;
  justify-self: center;
  text-align: left;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

.discoveryupimages img {
  display: block;
  width: 40%;
}

.discoveryuptitle {
  grid-area: discoveryuptitle;
  align-self: center;
  justify-self: center;
  text-align: left;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.discoveryuptitle p {
  margin-top: -1rem;
}

.duration {
  display: flex;
  flex-wrap: wrap;
  padding-top: .5rem;
}

.duration h3 {
  margin-left: .5rem;
  align-self: center;
  justify-self: center;
}

.duration ul {
  margin-top: -1rem;
  width: 100%;
}

.durationtools {
  grid-area: durationtools;
  align-self: center;
  justify-self: flex-start;
  display: flex;
  flex-wrap: wrap;
}

.homePageMockup {
  width: 25%;
  height: 20rem;
}

.homePageSketch {
  width: 25%;
  height: 20rem;
}

.homePageWireframe {
  width: 25%;
  height: 20rem;
}

.ia {
  color: #B6B6B6;
  background-color: #191919;
  grid-area: ia;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 1rem;
}

.ia p {
  width: 60%;
}
.ia h2 {
  width: 40%;
  justify-self: center;
  align-self: center;
}

.ia ul {
  margin-bottom: 0rem;
}

.ia h3 {
  margin-top: 1rem;
}

.iatitle {
  justify-self: center;
  align-self: center;
}

.icon {
  height: 24px;
  width: 24px;
}

.intro {
  grid-area: intro;
}

.intro h1 {
  text-align: center;
  margin-top: 1.7rem;
}

.intro p {
  text-align: center;
  width: 80%;
  margin: -1rem auto 1rem auto;
}

.intro a {
    display: block;
    text-align: center;
    align-self: center;
    justify-self: center;
    margin: 0 auto 2rem auto;
}

.lowFiPrototype, .highFiPrototype {
  display: none;
}

.overview {
  grid-area: overview;
  display: grid;
  grid-template-columns: 6fr 6fr;
  grid-auto-rows: minmax(.1rem, auto);
  grid-gap: 1rem 1rem;
  grid-template-areas:
  "overviewtitle    overviewtitle"
  "overviewproblem  overviewsolution";
  color: #191919;
  background-color: #f2f2f2;
  margin-top: -1rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: flex-start;
}

.overviewtitle {
  grid-area: overviewtitle;
  align-self: center;
  justify-self: center;
}

.overviewtitle img {
  display: block;
  margin: 2rem auto 0 auto;
}

.overviewproblem {
  grid-area: overviewproblem;
  width: 95%;
  padding-left: 1rem;
}

.overviewproblem p {
  text-align: left;
}

.overviewsolution {
  grid-area: overviewsolution;
  width: 95%;
  padding-left: 1rem;
}

.overviewsolution p {
  text-align: left;
}

.mobileHomeImage {
  grid-area: mobileHomeImage;
  align-self: center;
  justify-self: flex-start;
  width: 70%
}

.propertyVaultContainer {
  /* color: #B6B6B6;
  background-color: #191919; */
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-auto-rows: minmax(.1rem, auto);
  grid-gap: 1rem 1rem;
  grid-template-areas:
  "intro             intro              intro"
  "overview          overview           overview"
  "discovery         discovery          discovery"
  "branding          branding           branding"
  "ia                ia                 ia"
  "conclusion        conclusion         conclusion";
  align-items: center;
  justify-content: center;
  align-content: center;
}

.prototypesContainer {
  display:grid;
  grid-template-columns: 2fr 4fr 4fr 2fr;
  grid-auto-rows: minmax(.1rem, auto);
  grid-gap: 1rem 1rem;
  grid-template-areas:
  ". desktopHomeImage mobileHomeImage .";
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.rolesContainer {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  grid-auto-rows: minmax(.1rem, auto);
  grid-gap: 1rem 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  grid-template-areas:
  "design      deliverables     durationtools"
  "designroles deliverableslist durationtools"
}

.buttonHoldersiteMap {
  display: none;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  margin-top: .5rem;
}

.tools h3 {
  margin-left: .5rem;
}

.tools ul {
  margin-top: -1rem;
  width: 100%;
}


@media only screen and (max-width: 1024px) {
  .abtests img {
    width: 96%;
  }

  .flowChart{
    width: 96%;
    margin: 0 auto;
  }

  .ia h2 {
    width: 31%;
    justify-self: center;
    align-self: center;
  }


  .siteMap{
    width: 96%;
    margin: 0 auto;
  }


}

@media only screen and (max-width: 768px) {
  .abtests img {
    width: 96%;
  }

  .brandimages{
    width: 96%;
    margin: 0 auto;
  }

  .buttonHoldersiteMap {
    display: none;
  }

  .conclusion p {
    width: 96%;
  }

  .conclusionimages img {
    height: 200px;
  }

 .design h3 {
   font-size: 16px;
 }

 .designroles {
    padding-top: 1rem;

 }
 .designroles ul {
  font-size: 14px;
  }

 .deliverables h3 {
  font-size: 16px;
  }
  .deliverableslist {
    margin-bottom: 1rem;
  }
  .deliverableslist ul {
    font-size: 14px;
  }

  .discovery {
    grid-template-columns: .5fr 11fr .5fr;
    grid-template-areas:
    ".  discoverytitle  ."
    ".  discoveryur     ."
    ".  discoveryca     ."
    ".  discoveryuptitle     ."
    "discoveryupimages discoveryupimages discoveryupimages";
  }

  .duration {
    margin-top: -1rem;
  }
  .duration h3 {
    font-size: 16px;
  }

  .duration ul {
    font-size: 14px;

  }
  .ia h2 {
    width: 31%;
    justify-self: center;
    align-self: center;
  }
  .iaimages{
    width: 96%;
    margin: 0 auto;
  }
  .tools h3 {
    font-size: 16px;
  }
  .tools ul {
    font-size: 14px;
  }
}

@media only screen and (max-width: 414px) {
  .ia h2 {
    width: 65%;
    justify-self: center;
    align-self: center;
  }

  .intro h1 {
    font-size: 36px;
  }

  .buttonHoldersiteMap{
    display: block;
  }

  .design {
    margin: -1.5rem auto 0 auto;
  }

  .designroles {
    margin-left: 0;
  }
  .deliverables {
    margin-bottom: 1rem;
    margin-top: -1rem;
  }

  .deliverableslist {
    margin-left: 0;
  }

  .desktopHomeImage, .mobileHomeImage {
    display: none;
  }

  .discovery {
    grid-template-columns: .1fr 11.8fr .1fr;
    grid-template-areas:
    ". discoverytitle ."
    ". discoveryur ."
    ". discoveryca ."
    ". discoveryuptitle. "
    ". discoveryupimages .";
  }

  .discoveryupimages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .discoveryupimages img {
    width: 100%;
  }

  .duration {
    width: 65%;
    justify-self: center;
    align-self: center;

  }

  .durationtools {
    justify-self: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: -1rem;
  }

  .ia h2 {
    margin-top: 0rem;
  }

  .ia p {
    width: 90%;
  }

  .ia ul {
    width: 90%;
  }

  .lowProtoImage, .highProtoImage {
    display: none;
  }

  .lowFiPrototype, .highFiPrototype {
    display: block;
  }

  .overview {
    grid-template-columns: 12fr;
    grid-auto-rows: minmax(.1rem, auto);
    grid-gap: 1rem 1rem;
    grid-template-areas:
    "overviewtitle"
    "overviewproblem"
    "overviewsolution";
  }

  .rolesContainer {
    grid-template-columns: .5fr 11fr .5fr;
    grid-template-areas:
    ". design ."
    ". designroles ."
    ". deliverables ."
    ". deliverableslist ."
    ". durationtools .";
  }

  .siteMap {
    display: none;
  }

  .tools {
      width: 65%;
      justify-self: center;
      align-self: center;
      margin-top: -1rem;
  }

  .userFlowDetails {
    display: none;
  }

}







