.footerContainer {
  display: grid;
  grid-template-columns: 12fr;
  grid-auto-rows: minmax(5rem, auto);
  grid-gap: 1rem;
  grid-area: connect;
  grid-area: message;
  grid-area: date;

  grid-template-areas:
  "connect"
  "methods"
  "date";
}

.methods {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.connect {
  align-self: flex-end;
  justify-self: center;
}

.linkedin, .twitter, .github, .message{
  padding-left: 2rem;
}

.date{
  align-self: flex-start;
  justify-self: center;
}


