.footerContainer {
  display: grid;
  grid-template-columns: 12fr;
  grid-auto-rows: minmax(5rem, auto);
  grid-gap: 1rem;




  grid-template-areas:
  "connect"
  "methods"
  "date";
}

.connect {
  grid-area: connect;
  align-self: flex-end;
  justify-self: center;
  padding-top: 2em;
}

.date{
  grid-area: date;
  align-self:  flex-start;
  justify-self: center;
}

.message {
  grid-area: message;
}

.methods {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.linkedin, .twitter, .github, .message{
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}







