.headerContainer {
  display: grid;
  grid-template-columns: 1.5fr 4fr 6.5fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 2rem 2rem;
  grid-template-areas:
  "logo  name  pages";
}
.about {
  align-self: center;
  padding-right: 3rem;
}

.contact {
  align-self: center;
  padding-right: 3rem;
}

.logo {
  grid-area: logo;
  align-self: center;
  justify-self: flex-end;
}

.pages {
  display: flex;
  grid-area: pages;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

.name {
  grid-area: name;
  align-self: center;
  justify-self: flex-start;
}


.portfolio {
  align-self: center;
  padding-right: 3rem;
}



